<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>jlcoachmieke</title>
		<link class="icon" rel="icon" type="image/x-icon" href="/images/logoIcon.png" />
		<link rel="stylesheet" href="style/app.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500;700&family=Lato:wght@300;400;700;900&family=Mukta:wght@400;500;700&family=Oooh+Baby&family=Roboto:wght@300;400;500;700;900&display=swap"
			rel="stylesheet" />
	</head>
	<body>
		<h1>Website Wordt Nog Gemaakt!</h1>
		<img src="images/logo.png" alt="logo" />
		<a href="https://jlcoachmieke.webnode.be/" target="_blank" rel="noopener noreferrer" class="link"
			>Naar Oude Website</a
		>
	</body>
</html>
